* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
body{
	height: 100vh;
	width: 100%;
}
#contenedor{
	background-image: url(../img/wall.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}
.btn-inicio{
	color: #fff;
	border: 1px solid #fff;
	padding: 5% 12%;
	font-size: 18px;
	margin-bottom: 15%;
	border-radius: 5px;
}
.logo{
	max-width: 100%;
  	height: auto;
}
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}