.iconBack{
	font-size: 28px;
	position: absolute;
	left: 25px;
    top: 30px;
    text-decoration: none;
}
.iconBack:hover{
	color: #000;
	text-decoration: none;
}
.btnPerfil{
	position: absolute;
	top: 30px;
	right: 25px;
}