.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.borde-gris{
	border-bottom: 1px solid #848484;
}
.p-vh{
	position: relative;
	height: 100vh;
}
.m-top{
	margin-top: 5%;
}
/**********************/
.btn-next{
	background-color: #EC7357;
	color: #fff;
	padding: 3%;
	font-size: 2em;
	text-align: center;
	display: block;
}
.box-btn {
	position: absolute;
	bottom: 0%;
	width: 100%;
}
.formulario{
	margin: 3% 0;
}
.flecha {
	font-size: 1.5em;
    padding: 1.5em 0px;
    position: absolute;
    left: 20px;
}
/*********************/
.error{
	box-shadow: 1px 2px 4px rgba(254, 0, 0, .5);
}